.snake {
  background-color: lightgreen;
  border: 1px solid black;
  margin: 1px !important;
  border-radius: 5px;
}

.head {
  background-color: green;
}

.apple {
  background-color: red;
  border: 1px solid black;
  margin: 1px !important;
  border-radius: 5px;
}

.background {
  background-color: white;
  /* border: 1px solid black;
  border-radius: 5px; */
}

.tile {
  float: left;
  width: 16px;
  height: 16px;
  margin: 2px;
}
